body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
}

#form-container {
    text-align: center;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

#toggle-link {
    margin-top: 10px;
}

#toggle-link a {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

#warning-message {
    color: red;
    display: none;
}

.navbar {
    background-color: #007BFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.welcome-message {
    color: white;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 300px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

.content {
    margin-top: 80px;
}

.section {
    margin-top: 20px;
}

nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

nav button {
    width: 32%;
    padding: 10px;
}
