<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top fade-in">
    <a class="navbar-brand" href="#">ModaElegante</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./Productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Contactenos.html">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>

  <header class="jumbotron text-center mt-5 fade-in">
    <h1 class="display-4">CATÁLOGO</h1>
    <p class="lead">Descubre nuestra exclusiva colección de ropa</p>
  </header>

  <div class="container slide-in">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../img/camisa1.png" class="card-img-top img-fluid" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title">Camisa Elegante</h5>
            <p class="card-text">
              Color: Azul Marino
            </p>
            <p class="card-text">
              Talla: M
            </p>
            <p class="card-text">
              Precio: $29.99
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popupModalagregar" onclick="agregarP1()">Añadir al Carrito</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../img/vestido1.webp" class="card-img-top img-fluid" alt="Producto 2">
          <div class="card-body">
            <h5 class="card-title">Vestido de Noche</h5>
            <p class="card-text">
              Color: Rojo
            </p>
            <p class="card-text">
              Talla: L
            </p>
            <p class="card-text">
              Precio: $49.99
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popupModalagregar" onclick="agregarP2()">Añadir al Carrito</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 fade-in">
        <div class="card mb-4">
          <img src="../img/pantalon1.webp" class="card-img-top img-fluid" alt="Producto 3">
          <div class="card-body">
            <h5 class="card-title">Pantalón Casual</h5>
            <p class="card-text">
              Color: Negro
            </p>
            <p class="card-text">
              Talla: 32
            </p>
            <p class="card-text">
              Precio: $39.99
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popupModalagregar" onclick="agregarP3()">Añadir al Carrito</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 fade-in">
        <div class="card mb-4">
          <img src="../img/chaqueta1.webp" class="card-img-top img-fluid" alt="Producto 4">
          <div class="card-body">
            <h5 class="card-title">Chaqueta de Cuero</h5>
            <p class="card-text">
              Color: Marrón
            </p>
            <p class="card-text">
              Talla: XL
            </p>
            <p class="card-text">
              Precio: $79.99
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popupModalagregar" onclick="agregarP4()">Añadir al Carrito</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 fade-in">
        <div class="card mb-4">
          <img src="../img/falda1.jpg" class="card-img-top img-fluid" alt="Producto 5">
          <div class="card-body">
            <h5 class="card-title">Falda Plisada</h5>
            <p class="card-text">
              Color: Rosa
            </p>
            <p class="card-text">
              Talla: S
            </p>
            <p class="card-text">
              Precio: $24.99
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popupModalagregar" onclick="agregarP5()">Añadir al Carrito</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 fade-in">
        <div class="card mb-4">
          <img src="../img/sudadera1.jpg" class="card-img-top img-fluid" alt="Producto 6">
          <div class="card-body">
            <h5 class="card-title">Sudadera Deportiva</h5>
            <p class="card-text">
              Color: Gris
            </p>
            <p class="card-text">
              Talla: M
            </p>
            <p class="card-text">
              Precio: $34.99
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popupModalagregar" onclick="agregarP6()">Añadir al Carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 slide-in">
    <h1>Carrito de Compras</h1>
    <p class="lead mt-4 mb-4">Aquí podrás ver los artículos que has añadido al carrito</p>
    <ul class="list-group" id="carrito">
      <!-- Aquí se mostrarán los elementos del carrito -->
    </ul>

    <div class="modal fade" id="popupModalagregar" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popupModalLabel">Aviso importante</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Se ha agregado este producto a su carrito.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-4">
      <h4>Total: $<span id="total">0.00</span></h4>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupModal">
        Realizar compra
      </button>
    </div>
  </div>
  <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popupModalLabel">Mensaje importante</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Se ha realizado su compra.</p>
          <p>Si no tiene productos añadidos a su carrito, no se realizará su compra.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-dark text-white text-center py-3 mt-5 fade-in">
    <p>ModaElegante &copy; 2024. Todos los derechos reservados.</p>
  </footer>
  <script src="../log/carrito.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
